<%if current_user.subscriptions.any?%>
    <% exp = current_user.subscriptions.all.sample %>
    <% current_user.subscriptions.each do |sub|%>
        <% if sub.active? %>
            <%if sub.expiration_date >= exp.expiration_date %>
                <%exp = sub%>
            <%end%>
        <%end%>
    <%end%>
<%end%>
<%=current_user.email%><% if current_user.subscribed?%>
 Currently subscribed
<% else %>
Not subscribed
<%end %>
<%if current_user.subscriptions.any?%>
    <%if exp.active?%>
        Time remaining Subscription : 
        <%= distance_of_time_in_words(Time.now,exp.expiration_date,options = {include_seconds: true})%>
    <%else%>
        Your subscription expired <%= distance_of_time_in_words(exp.expiration_date,Time.now,options = {include_seconds: true})%> ago
    <%end%>
<%else%>
    You aren't subscribed
<%end%>


<p> First name = <%=current_user.first_name%>  Last name = <%=current_user.last_name%>
<% button_to 'Edit profile', "/users/edit"%>
<div>
    <%= render @stories %>
</div>

<%if current_user.orders.any? %>
    <table>
        <thead>
            <tr>
                <th>OrderID</th>
                <th>Date of order</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <% (current_user.orders).all.reverse_each do |order| %>
                <tr>
                    <td><%=order.id%> 
                    <td>Ordered the  <%= order.created_at.strftime('%d/%m/%Y') %> at <%= order.created_at.strftime('%H:%M') %> </td>
                    <td>
                        <% sub = order.subscription%>
                        <%= distance_of_time_in_words(sub.start_date,sub.expiration_date,options = {include_seconds: true})%>
                    </td>
                    <td>
                </tr>
            <%end%>
        </tbody>
    </table>
<%end%>

