<p>
  <strong>Thème :</strong>
  <%= @story.theme %>
</p>

<p>
  <strong>Âge :</strong>
  <%= @story.age %>
</p>

<p>
  <strong>Personnage principal :</strong>
  <%= @story.name %>
</p>

<p>
  <strong>Personnage secondaire :</strong>
  <%= @story.secondary_character %>
</p>

<p>
  <strong>Objet fétiche :</strong>
  <%= @story.favourite_object %>
</p>
