<%= render'layouts/header'%>
<body>
  <%= render 'layouts/navbar'%>
  <%= yield %>
  <%= render'layouts/footer'%>
  <%= javascript_include_tag 'manifest', 'data-turbolinks-track': 'reload' %>
</body>
</html>
